@using FirstConsoleApp.Enums
@inject FirstConsoleApp.Repository.ILanguageRepository _languageRepository

@{
    ViewData["Title"] = "Add New Book";
}

@model BookModel

<div class="container">
    <h3 class="display-4">Add New Book</h3>
    <hr />

    @if(ViewBag.IsSuccess == true) {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations!</strong> You added new book successfully. <br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.bookID">here</a> to view the details
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @*loader spinner*@
    @*<div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="myLoader" style="display:none">
            <span class="sr-only">Loading...</span>
        </div>
    </div>*@


    @*don't have to specify controller or action if the action is the same as the current action*@
    @*novalidate to disable html validation*@
    <form method="post" enctype="multipart/form-data"
        asp-controller="Book" asp-action="AddNewBook" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        @*<div class="form-group">
            <label asp-for="Language" class="conterol-label"></label>
            <select asp-for="Language" class="form-control">
                <option value="">-Please select book Language</option>
                whats in value is sent to the database
                <option value="English">English (Global Language)</option>
                <option value="Arabic">Arabic (Best Language)</option>
                <option value="German">German (Nice Language)</option>
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>*@


        <div class="form-group">
            <label asp-for="LanguageId" class="conterol-label"></label>
            <select asp-for="LanguageId" class="form-control" asp-items="(await _languageRepository.GetLanguages()).Select(x => new SelectListItem() {Text = x.Name, Value = x.Id.ToString()})">
                <option value="">-Please select book Language</option>
            </select>
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" min="1" class="form-control" />
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*<label asp-for="CoverPhoto"></label>*@
            <div class="mb-3">
                <label asp-for="CoverPhoto" class="form-label"></label>
                <input class="form-control" asp-for="CoverPhoto">
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*<label asp-for="CoverPhoto"></label>*@
            <div class="mb-3">
                <label asp-for="GalleryFiles" class="form-label"></label>
                <input class="form-control" asp-for="GalleryFiles">
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*<label asp-for="CoverPhoto"></label>*@
            <div class="mb-3">
                <label asp-for="BookPdf" class="form-label"></label>
                <input class="form-control" asp-for="BookPdf">
            </div>
            <span asp-validation-for="BookPdf" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-primary"/>
        </div>
    </form>
</div>
